// Base

html {
    box-sizing: border-box;
    background-color: $black;
}

// Set box-sizing globally to handle padding and border widths

*,
*::before,
*::after {
    box-sizing: inherit;
}


// Container
.container-fluid {
    max-width: map-get($breakpoints, large);
    margin: auto;
    padding: {
        left: 2rem;
        right: 2rem;
    }

    @include breakpoint(small) {
        padding: {
            left: 3rem;
            right: 3rem;
        }
    }

    @include breakpoint(medium) {
        padding: {
            left: 4rem;
            right: 4rem;
        }
    }
}




// Links
a {
    color: $primary-color;
    text-decoration: none;
}
