// Typefaces

$source-serif-pro: 'Source Serif Pro';

// Palette
$iceblue: #f5fffe;
$mintgreen: #2DC6A6;
$inkblack: #222222;

// Color
$primary-color: $mintgreen;

// Animation
$default-transition-speed: 200ms;
$default-transition-ease: ease-in;

// Z-index
$z0 : 0;
$z1 : 10;
$z2 : 20;
$z3 : 30;
$z4 : 40;
$z5 : 50;
