// General Typography

body {
    font-family: 'source-serif-pro', Georgia, serif;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: .5em;
}

.logo {
    font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: .5em;
    color: #333;
    text-decoration: none;

    &:hover {
        color: #00aaaa;
        text-decoration: none;
    }
}

p {
    margin-bottom: 1.5em;
}

.container {
    max-width: 40em;
}

.article {
    background: #fcfcfc;
    border-top: 1px solid #eee; 
    border-bottom: 1px solid #eee; 
    padding-top: 2em;
    padding-bottom: 5em;

    .overview {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    h1 {
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 25px;

        span {
            font-size: 16px;
            font-weight: 400;
        }
    }

    h2 {
        font-size: 20px;
        margin-top: 75px;
        margin-bottom: 25px;
    }

    p {
        font-size: 18px;
    }

    .tag {
        display: inline-block;
        background: #eee;
        padding: 4px 8px;
        margin-top: 4px;
        text-transform: lowercase;
        font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 13px;
        color: #333;
        text-decoration: none;
        cursor: pointer;
        transition: background 200ms;

        &:hover {
            background: #00aaaa;
            // color: #fff;
        }
    }

    .separator {
        width: 175px;
        border: none;
        border-top: 3px solid #ccc;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    img {
        margin-bottom: 25px;
    }
}

footer {
    p {
        font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 16px;
    }
}