---
layout: index
---

{% include intro_block.html class="section--dark" %}

<main class="section section--dark">
    <div class="container-fluid">
        <div class="row center-sm">
            <div class="col-sm-12 col-md-11">
                <h1 class="section__heading cursor cursor--dark">Work</h1>
            </div>
        </div>

        <div class="row center-sm">
            <div class="col-sm-12 col-md-11">
                <div class="cardgrid">
                    {% for work in site.work %}
                    <a class="card" href="{{ work.url }}">
                        <h2 class="card__heading">{{ work.title }}</h2>
                        <p class="card__summary">{{ work.description }}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}
