---
layout: index
---

{% include intro_block.html class="section--light" %}

<main class="section section--light">
    <div class="container-fluid">
        <div class="row center-sm">
            <div class="col-sm-12 col-md-11">
                <div class="resume section__text-wrapper">
                    <h2 class="section__heading cursor">Experience</h2>

                    <section class="resume__group">
                        <h3 class="heading--medium">
                            <span class="resume__title">Front End Developer</span>
                            <span class="resume__org">ISL</span>
                            <span class="resume__timespan">2015&ndash;2016</span>
                        </h3>
                        <ul class="list">
                            <li>Worked in a team of eight engineers in an agile environment to develop Service Year, a&nbsp;Django web application that connects students with paid opportunities to serve at non&#8209;profits across the nation</li>
                            <li>Improved the maintainability of Service Year by refactoring large parts of the front-end into reusable components. Wrote extensible, modular Sass components using BEM on top of the Foundation framework, and maintained documentation of CSS in a living styleguide using KSS</li>
                            <li>Developed a mobile-first, responsive website on the Squarespace platform, for Washington Leadership Academy, a new technology-focused charter school. Wrote a custom workflow using Gulp to support local development of Squarespace projects</li>
                            <li>Conducted user research to design the next iteration of the SELFIE product, a mirror with a touchscreen interface. Designed user flows and wireframes for the new SELFIE interface based on qualitative data collected from stakeholder interviews, user interviews, and user testing. Developed interface using pyQT and QML, and built a web dashboard using Django and Vue.js for clients to configure SELFIE remotely</li>
                            <li>Led front-end development on a website for 700K, a real estate property in DC, using Django and Vue.js. Advocated for collaborative design practices, and guided teammates in component exercises to develop more cohesive design systems and improve communications between project managers, designers, and developers</li>
                        </ul>
                    </section>

                    <section class="resume__group">
                        <h3 class="heading--medium">
                            <span class="resume__title">Designer</span>
                            <span class="resume__org">Sunlight Labs</span>
                            <span class="resume__timespan">2013&ndash;2015</span>
                        </h3>
                        <ul class="list">
                            <li>Led design research on Sunlight’s future flagship product and interviewed internal stakeholders across the organization to gather insights and perspectives—producing a holistic set of product guidelines including goals, success metrics and requirements</li>
                            <li>Led user experience design for EmailCongress, a service for contacting members of Congress via email. Implemented visual design and interactions in the front-end and collaborated with team to identify pain points, define user flows and create wireframes</li>
                            <li>Led the redesign effort for OpenCongress, a web application that allows users to follow activity in the U.S. Congress. Developed the rebrand via new logo, custom icons, and element board. Designed wireframes for user stories and mockups for primary views</li>
                            <li>Conducted user research as part the the OpenCongress redesign to define needs of key audience and identify ways to improve existing features of the product</li>
                            <li>Standardized CSS/SCSS architecture used in building the OpenCongress front-end, and developed a pattern library to document reusable elements and components to guide development as the product evolves</li>
                            <li>Increased productivity of the design team by modularizing email template creation and creating automated JavaScript tools to aid in testing and compiling</li>
                        </ul>
                    </section>

                    <section class="resume__group">
                        <h3 class="heading--medium">
                            <span class="resume__title">Designer</span>
                            <span class="resume__org">AARP</span>
                            <span class="resume__timespan">2012&ndash;2013</span>
                        </h3>
                        <ul class="list">
                            <li>Produced clean, practical design solutions to meet business needs of stakeholders, and prototyped designs and modular, accessible components in HTML, CSS and JavaScript</li>
                            <li>Created a responsive styleguide documenting AARP Digital design guidelines and standards, used by internal teams and external vendors to reinforce the AARP brand
                        </ul>
                    </section>

                    <section class="resume__group">
                        <h3 class="heading--medium">
                            <span class="resume__title">Designer</span>
                            <span class="resume__org">STAP</span>
                            <span class="resume__timespan">2010&ndash;2012</span>
                        </h3>
                        <ul class="list">
                            <li>Designed and presented to stakeholders each design phase of new fundraising event websites, including information architecture, wireframes, and visual design
                            <li>Implemented custom front-ends, event registration systems, CMS and payment integrations, helping to facilitate over upwards of $200,000 in fundraising annually</li>
                            <li>Designed compelling spreads and infographics for the non-profit's quarterly magazines and annual reports, distributed to thousands of households</li>
                        </ul>
                    </section>

                    <h2 class="section__heading cursor">Tools I Use</h2>
                    <div class="resume__group">
                        <ul class="list list--condensed">
                            <li>HTML, CSS, Sass, JavaScript, Node.js, Vue.js, Gulp, Python, Django, Ruby, Rails, Git</li>
                            <li>Illustrator, Sketch, Photoshop, Invision, InDesign, Balsamiq Mockups</li>
                    </div>
                    <h2 class="section__heading cursor">Education</h2>
                    <h3 class="heading--medium">
                        <span class="resume__org">Binghamton University</span>
                        <span class="resume__timespan">2011</span>
                    </h3>
                    <div>
                        Bachelor of Arts in Graphic Design
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}
