---
layout: index
---

{% include intro_block.html class="section--light" %}

<main class="section section--light">
    <div class="container-fluid">
        <div class="row center-sm">
            <div class="col-sm-12 col-md-11">
                <div class="resume">
                    <h2 class="section__heading cursor">Experience</h2>
                    <h3 class="section__heading--small">
                        Front End Developer, ISL
                        <span class="timespan">2015&ndash;2016</span>
                    </h3>
                    <ul class="resume__section">
                        <li>Worked in a team of eight engineers in an agile environment to develop Service Year, a&nbsp;Django web application that connects students with paid opportunities to serve at non&#8209;profits across the nation</li>
                        <li>Improved the maintainability of Service Year by refactoring large parts of the front-end into reusable components. Wrote extensible, modular Sass components using BEM on top of the Foundation framework, and maintained documentation of CSS in a living styleguide using KSS</li>
                        <li>Developed a mobile-first, responsive website on the Squarespace platform, for Washington Leadership Academy, a new technology-focused charter school. Wrote a custom workflow using Gulp to support local development of Squarespace projects</li>
                        <li>Conducted user research to design the next iteration of the SELFIE product, a mirror with a touchscreen interface. Designed user flows and wireframes for the new SELFIE interface based on qualitative data collected from stakeholder interviews, user interviews, and user testing. Developed interface using pyQT and QML, and built a web dashboard using Django and Vue.js for clients to configure SELFIE remotely</li>
                        <li>Led front-end development on a website for 700K, a real estate property in DC, using Django and Vue.js. Advocated for collaborative design practices, and guided teammates in component exercises to develop more cohesive design systems and improve communications between project managers, designers, and developers</li>
                    </ul>

                    <h3 class="section__heading--small">
                        Designer, Sunlight Foundation
                        <span class="timespan">2013&ndash;2015</span>
                    </h3>
                    <ul class="resume__section">
                        <li>Led design research on Sunlight’s future flagship product and interviewed internal stakeholders across the organization to gather insights and perspectives—producing a holistic set of product guidelines including goals, success metrics and requirements</li>
                        <li>Led user experience design for EmailCongress, a service for contacting members of Congress via email. Implemented visual design and interactions in the front-end and collaborated with team to identify pain points, define user flows and create wireframes</li>
                        <li>Led the redesign effort for OpenCongress, a web application that allows users to follow activity in the U.S. Congress. Developed the rebrand via new logo, custom icons, and element board. Designed wireframes for user stories and mockups for primary views</li>
                        <li>Conducted user research as part the the OpenCongress redesign to define needs of key audience and identify ways to improve existing features of the product</li>
                        <li>Standardized CSS/SCSS architecture used in building the OpenCongress front-end, and developed a pattern library to document reusable elements and components to guide development as the product evolves</li>
                        <li>Increased productivity of the design team by modularizing email template creation and creating automated JavaScript tools to aid in testing and compiling</li>
                    </ul>

                    <h3 class="section__heading--small">
                        Designer, AARP
                        <span class="timespan">2012&ndash;2013</span>
                    </h3>
                    <ul class="resume__section">
                        <li>Produced clean, practical design solutions through iterations of mockups</li>
                        <li>Built prototypes of designs and modular components in HTML, CSS &amp; JS</li>
                        <li>Reworked existing styleguide documentation into a new responsive website for use by internal departments and external vendors to reinforce the AARP brand</li>
                    </ul>

                    <h3 class="section__heading--small">
                        Designer, STAP
                        <span class="timespan">2010&ndash;2012</span>
                    </h3>
                    <ul class="resume__section">
                        <li>Coordinated with clients through the entire process of designing and implementing various event websites, including: information architecture, wireframes, visual design, front-end development and CMS integration</li>
                        <li>Designed compelling spreads and infographics for quarterly newsletters and annual reports distributed to thousands of households</li>
                    </ul>

                    <h2 class="section__heading cursor">Tools I Use</h2>
                    <div class="resume__section">
                        HTML, CSS, Sass, JavaScript, Node.js, Vue.js, Gulp, Python, Django, Ruby, Rails, Git
                        <br>
                        Illustrator, Sketch, Photoshop, Invision, InDesign, Balsamiq Mockups
                    </div>
                    <h2 class="section__heading cursor">Education</h2>
                    <h3 class="section__heading--small">
                        Binghamton University
                        <span class="timespan">2007&ndash;2011</span>
                    </h3>
                    <p>
                        Bachelor of Arts in Graphic Design
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

{% include footer.html %}

<!--
    <footer>
        <div class="container clearfix mt2 mxn2 mb4 px2">
            <div="sm-col sm-col-10 md-col-7">
                <h2>Contact</h2>
                <p>
                    You can email me at <a class="link" href="mailto:olivia@heyitsolivia.com">olivia@heyitsolivia.com</a>
                    <br>
                    I push code to <a class="link" href="https://github.com/heyitsolivia">github.com/heyitsolivia</a> and pixels to <a class="link" href="https://dribbble.com/heyitsolivia">dribbble.com/heyitsolivia</a>
                </p>
                <p>
                    More things at <a class="link" href="http://heyitsolivia.com">heyitsolivia.com</a>
                </p>
            </div>
        </div>
    </footer>
</main> -->
