// Article

// TODO: Refactor

.article {
    .overview {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    h1 {
        @extend %heading--large;
        line-height: 1;
        margin-bottom: 25px;

        span {
            font-size: 16px;
            font-weight: 400;
        }
    }

    h2 {
        @extend %heading--medium;
        font-size: 20px;
        margin-top: 75px;
        margin-bottom: 25px;
    }

    p {
        font-size: 18px;
    }

    .tag {
        display: inline-block;
        background: #eee;
        padding: 4px 8px;
        margin-top: 4px;
        text-transform: lowercase;
        font-family: $font-family-sans;
        font-size: 13px;
        color: #333;
        text-decoration: none;
        cursor: pointer;
        transition: background 200ms;

        &:hover {
            background: #00aaaa;
        }
    }

    .separator {
        width: 175px;
        border: none;
        border-top: 3px solid #ccc;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    img {
        width: 100%;
        margin-bottom: 25px;
    }

    .bio_thumb {
        display: none;

        @include breakpoint(medium) {
            display: block;
            float: right;
            width: 40%;
            margin-left: 2rem;
        }
    }
}
