// Card Component


// Card Grid
.cardgrid {
    @include breakpoint(medium) {
        column-count: 2;
        column-gap: 2rem;
    }

    @include breakpoint(large) {
        column-gap: 10rem;
    }
}


// Card
.card {
    position: relative;
    display: block;
    max-width: 22rem;
    margin-bottom: 4rem;
    margin-left: -1rem;
    padding-left: 1rem;

    transition: transform 300ms;
    transition-delay: 375ms;

    @include breakpoint(medium) {
        max-width: 20rem;
        margin-bottom: 6rem;
    }

    &:first-child {
        @include breakpoint(medium) {
            margin-top: 4rem;
        }
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 0;
        border-left: 2px solid $primary-color;

        transform: translateX(-1rem) translateY(2rem);
        transition: transform 200ms, height 300ms;
        transition-delay: 0ms;
    }
}

    .card__heading {
        @extend %heading--medium;
        margin-bottom: 0.5rem;
        color: $white;
        transition: transform 300ms, color 300ms;
        transition-delay: 400ms;

        &:after {
            content: '';
            display: block;
            width: 2rem;
            border-bottom: 2px solid $primary-color;
            margin-bottom: 0.65rem;
            margin-top: 0.65rem;

            transition: transform 150ms, width 300ms;
            transition-delay: 400ms;
        }
    }

    .card__summary {
        @extend %text--medium;
        margin: 0;
        color: $white;

        transition: transform 300ms;
        transition-delay: 400ms;
    }


// Card Animations
.card:hover,
.card:focus {
    transform: translateX(1rem);

    &::before {
        height: 100%;
        transform: translateX(-1rem) translateY(0);
        transition-delay: 400ms;
    }

    .card__heading:after {
        width: 0;
        transform: translateX(-1rem);
        transition-delay: 0ms;
    }

    .card__heading {
        position: relative;
        color: $primary-color;
        transform: translateY(0.4rem);
    }

    .card__summary {
        position: relative;
        transform: translateY(-0.4rem);
    }

}
