// Card Component


// Card Grid
.cardgrid {
    @include breakpoint(medium) {
        column-count: 2;
        column-gap: 2rem;
    }

    @include breakpoint(large) {
        column-gap: 10rem;
    }
}


// Card
.card {
    margin-bottom: 4rem;
    box-sizing: border-box;
    max-width: 22rem;

    @include breakpoint(medium) {
        max-width: 18rem;
    }

    &:first-child {
        margin-top: 4rem;
    }
}

    .card__heading {
        @extend %heading--medium;
        margin-bottom: 0.5rem;
        color: $white;

        &:after {
            content: '';
            display: block;
            border-bottom: 2px solid $white;
            width: 2rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .card__summary {
        p {
            @extend %text--medium;
            margin: 0;
            color: $white;
        }
    }

    .card__thumbnail {
        width: 100%;
        height: 200px;
        background-color: navy;
        border-radius: 3px 3px 0 0;
    }
