// Logo

.logo {
    font-family: $font-family-sans;
    font-size: 1.75rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 2rem;
    color: $text-color;
    text-decoration: none;
    letter-spacing: 4px;

    @include breakpoint(medium) {
        font-size: 3rem;
        letter-spacing: 5px;
    }

    @include breakpoint(large) {
        font-size: 3.75rem;
        letter-spacing: 6px;
    }
}
