<header class="section--dark">
    <div class="hero">
        <div class="container-fluid">
            <div class="row center-sm">
                <div class="col-sm-12 col-md-11">
                    <h1 class="logo cursor">oliviacheng</h1>
                    <div class="hero__summary">
                        <p>
                            I make things for humans.
                        </p>
                        <p>
                            Spending my days designing products and building interactions.
                            Thinking about design systems and open design.
                            Strong opinions about oxford commas and&nbsp;pocky.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
