// Typography

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 100%;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}