<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>

        {% include header.html %}

        <main class="section section--light">
            <div class="container-fluid">
                <div class="row center-sm">
                    <div class="col-sm-12 col-md-11">
                        <div class="section__text-wrapper">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include footer.html %}

  </body>

</html>
