<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>

        <div class="section--light">
            {% include header.html %}
        </div>

        <main class="section section--light">
            <div class="container-fluid">
                <div class="row center-sm">
                    <div class="col-xs-12 col-md-11">
                        <div class="section__text-wrapper">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include footer.html %}

  </body>

</html>
